# Comprensión de los Datos

In [1]:
#importar librerias
import pandas as pd
import matplotlib.pyplot as plt

# Descripción de Variables

Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd): Categórica Ordinal
survival Survival (0 = No; 1 = Yes): Categórica Nominal
name Name: Categórica Nominal
sex Sex: Categórica Nominal
age Age: Numérica Continua
sibsp Number of Siblings/Spouses Aboard: Numérica Discreta
parch Number of Parents/Children Aboard: Numérica Discreta
ticket Ticket Number: Categórica Nominal
fare Passenger Fare (British pound): Numérica Continua
cabin Cabin: Categórica Nominal
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton): Categórica Nominal
boat Lifeboat: Categórica Nominal
body Body Identification Number: Numérica Discreta
home.dest Home/Destination: Categórica Nominal

**Ejemplo:** Crear un objeto DataFrame con base en un archivo .csv

In [2]:
#lee archivo csv
diabetes = pd.read_csv("titanic.csv")

In [3]:
#Usa función shape para revisar el total de renglones y columnas
titanic.shape

NameError: name 'titanic' is not defined

In [ ]:
#Revisa los primeros 5 renglones del dataset usando la función head()
(891, 12)

In [ ]:
#Revisa los últimos 5 renglones del dataset usando la función tail()
diabetes.head()

In [ ]:
#Revisa la información mas completa del conjunto de datos usando la función info()
#Muestra el total de datos, las columnas y su tipo correspondiente, dice si contiene nulos o no
diabetes.info()

In [ ]:
#revisa cuántos valores únicos tiene cada atributo del archivo usando la función nunique()
diabetes.nunique()

## Exploración de Datos

In [ ]:
#utiliza la función describe() para obtener estadística básica. se puede incluir -0
diabetes.Cabin.unique()

In [ ]:
#Revisa Valores nulos con funcion isnull().sum()
dabetes.isnull().sum()

In [ ]:
#Revisar valores únicos por columna usando función unique(): nombre-columna.unique()
diabetes["Embarked"].unique()

## Variables Cuantitativas

### Medidas de tendencia central

In [ ]:
#Edad
#Se puede obtener la media, mediana y moda para
mean_age = titanic['Age'].mean()
median_age =titanic['Age'].median()
mode_age = titanic['Age'].mode()
print("Mean_age:",mean_age)
print("Median_age:",median_age)
print("Mode_age:",mode_age)

Conclusiones:
La edad promedio fue 29
La edad al centro es 28
La edad más repetida fue de 24

# Variables Categóricas

In [ ]:
#Para conteo  de cada valor en una columna, en orden descendente usar función value_counts():    
# nombreDataframe.columna.value_counts()
# nombreDataframe['columna'].value_counts()

In [ ]:
#Revisa conteo de varias columnas
diabetes.Sex.value_counts()

In [ ]:
# Crear variable familySize que incluya la suma de las columnas SibSp y Parch
# Mostrar el total por cada tamaño de familia
diabetes['FamilySize'] = titanic['SibSp'] + titanic['Parch']+1

In [ ]:
diabetes['FamilySize'].value_counts()

## Consulta

In [ ]:
# df.iloc[i]: Accede a la fila en la posición i.
# Acceder a la primera fila
diabetes.iloc[0]

In [ ]:
# Acceder a las dos primeras filas
diabetes.iloc[:2]

In [ ]:
#Seleccionar columnas, indicando entre corchetes [nombreColumna, nombreColumna]
diabetes[['Name', 'Age']]

In [ ]:
#Selección de filas [indicar dataframe[columna] operador valor]
diabetes[titanic["Survived"] == 0]

In [ ]:
#ordenar usando funcion sort_values(by=atributo, ascending=True/false)
diabetes.sort_values(by="Age", ascending=False)

In [ ]:
#Agrupar por un atributo y calcular función de agregación utilizando groupby(atributo)['atributoAgregacion].funcion() (ej. mean() para promedio)
diabetes.groupby('Pclass')['Age'].agg(['min', 'max'])

Crea un subconjunto de **titanic** para el costo mayor a 500

In [ ]:
# usa el criterio para extraer solo los boletos caros con fare > 50
diabetes[titanic['Fare'] > 50]

In [ ]:
diabetes[titanic['Fare'] > 500]